<mat-card class="card">
    <img class="image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu">
    <div></div>
    <mat-card-content class="card-content">
        <div class="date-wrapper">
            <app-svg-icon icon="icon-calendar" class="icon-calendar"></app-svg-icon>
            <span class="date">June 29th, 2021</span>
        </div>
        <mat-card-title class="card-title">Shiba Inu</mat-card-title>
        <div class="description-wrapper">
            <p class="card-description">
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita, tempore!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum quaerat quisquam modi excepturi cum
                officiis
                laborum ex amet nisi praesentium.
            </p>
        </div>
    </mat-card-content>
    <mat-card-actions class="card-actions">
        <button mat-button class="read-more-btn">
            Read more
            <app-svg-icon icon="icon-arrow--right" class="icon-arrow"></app-svg-icon>
        </button>
    </mat-card-actions>
</mat-card>