<header class="header" *ngIf="article">
    <img mat-card-image class="image" [src]="article.image_url ? article.image_url : '../../../assets/images/No_image_available.jpg'
" [alt]="article.title">
</header>
<section class="content-section" *ngIf="article">
    <app-container class="card-container">
        <mat-card class="card">
            <mat-card-content class="card-content">
                <mat-card-title class="card-title">{{article.title}}</mat-card-title>
                <p class="card-text">
                    {{article.summary}}
                </p>
            </mat-card-content>
        </mat-card>
        <button mat-button class="go-home-btn" [routerLink]="['/']">
            <app-svg-icon icon="icon-arrow--left" class="icon-arrow"></app-svg-icon>
            Back to homepage
        </button>
    </app-container>
</section>